node_modules
dist
.env
.env.local
.env.*.local
.DS_Store
.vscode/*
!.vscode/extensions.json
.vercel
backup-before-*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
.vercel/
dist/
backup-before-*/
noorquran_*_extracted/
noorquran_*_patch/
noorquran_*_upgrade/
*.zip
